{% extends "admin.html.twig" %}

{% block title %}
    {{ 'users.index.title' | trans | desc('Users') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'users.index.page_title' | trans | desc('Users') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'users.table.email' | trans | desc('Email') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_user_show', {'user': user.id}) }}">
                                {{ user.email }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
