{% extends "admin.html.twig" %}

{% block title %}
    User {{ user.username }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="bg-dark text-white py-3">
        <div class="container">
            <h1>User</h1>
        </div>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                {#<img src="{{ gravatar(user.email, 200) }}" alt="Profile image" class="img-circle img-fluid ">#}
            </div>
            <div class="col-sm-10 col-xs-12">
                <h4>
                    {{ user.username }}
                    <br>
                    <small class="text-muted">{{ user.email }}</small>
                </h4>
                <a href="https://facebook.com/" class="btn btn-facebook">
                    <i class="fa fa-fw fa-facebook"></i>
                </a>
                <a href="https://www.twitch.tv/" class="btn btn-google">
                    <i class="fa fa-fw fa-google"></i>
                </a>
                <a href="https://twitter.com/" class="btn btn-twitter">
                    <i class="fa fa-fw fa-twitter"></i>
                </a>
                <a href="https://github.com/Disjfa/glynn-admin" class="btn btn-github">
                    <i class="fa fa-fw fa-github"></i>
                </a>
                <hr>
                <div class="btn-group">
                    <a href="{{ path('admin_user_edit', {'user': user.id}) }}" class="btn btn-primary">
                        Edit user
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}