{% extends "admin.html.twig" %}

{% block title %}
    {{ 'user.show_user.title' | trans({'%username%': user.username }) | desc('User %username%') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'user.show_user.page_title' | trans({'%username%': user.username }) | desc('User %username%') }}
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <img src="{{ gravatar(user.email, 200) }}" alt="Profile image" class="img-circle img-fluid ">
            </div>
            <div class="col-sm-10 col-xs-12">
                <h4>
                    {{ user.username }}
                    <br>
                    <small class="text-muted">{{ user.email }}</small>
                </h4>
                <hr>
                <div class="btn-group">
                    <a href="{{ path('admin_user_edit', {'user': user.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil-alt"></i>
                        {{ 'user.button.edit_user' | trans | desc('Edit user') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
