<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Glynn admin{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
</head>
<body>
<div class="page">
    <div class="page-sidebar">
        <div class="sidebar navbar navbar-expand-lg navbar-dark d-lg-block px-0">
            <div class="text-lg-center py-3 px-3">
                <a class="site-title" href="{{ path('home_index') }}">
                    <img src="{{ asset("/glynn-admin/img/barista-icons_coffea-arabica.svg") }}" alt="" title="">
                    <span class="hidden-lg-up">
                        Glynn admin
                    </span>
                </a>
            </div>
            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-menu">
                <div class="col-12 px-0">
                    {% if app.user %}
                        <div class="dropdown pull-right">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn text-muted">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            </div>
                        </div>
                        <a class="sidebar-user" href="{{ path('fos_user_profile_show') }}">
                            <div class="media">
                                <div class="media-left">
                                    {#<img src="{{ gravatar(app.user.email) }}"#}
                                    {#class="rounded img-fluid sidebar-user-img pr-3"#}
                                    {#alt="Profile image">#}
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        {{ app.user.username }}
                                    </h4>
                                    {{ app.user.email }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {{ knp_menu_render('glynn-admin', {'currentClass': 'active', 'ancestorClass': 'active', 'depth':3, 'template': 'admin/menu.html.twig'}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="page-body" id="base">
        <div class="page-main-bg">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}
</body>
</html>